# Packages
/dist/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE files
.idea/

# Environments
.venv

# Ignore backups
backups

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*

# Ignore keys and tokens
tokens
keys
research